*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;

}
section.main{
  width: 100%;
  display: flex;
  overflow-x: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}
.containerH{
    background: url(/assets/BG.png);
    width: 100%;
    height:auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 5px;
}
.header .logo{
    width: 100%;
    height: auto;
    padding-top: 20px;
    position: relative;
    align-self: center;
    justify-self: center;
}
.header .tittle h1{
   
    color: yellow;
    
}
.header .tittle h3{
    font-weight: 600;
    color: white;
}
.product img{
    filter: drop-shadow(3px 4px 1px #02021b3f);
}

@media(max-width:400px){
  
    .header{
        margin-top: 30px;
        padding: 5px 5px;
    }
    .header .logo{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
   .header .logo img {
        position: relative;
        width:300px;
        
    }
    .header .tittle h1{
        font-size: 16px;
        
    }
    .header .tittle h3{
        font-size: 10px;
    }
    .header .tittle{
        gap: 5px;
        margin-top:5px;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .product img{
        top: 15px;
        width: 400px;
        position: relative;
        right: 20px;
    }
    .containerL{
        margin-top: 20px;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        

    }
    .place{
        margin-top: 12px;
        top:20px;
        position: relative;
        background-color: white;
        width:350px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 0 19px;
        filter: drop-shadow(3px 4px 6px #28282b3f);
    }
    .place .icons img{
        position: relative;
        top: 3px;
        width: 40px;
        filter: drop-shadow(3px 4px 6px #6b6b743f);
        transition: 3ms;
    }
    .place h1{
        font-size: 20px;
    }
    .place .icons img:hover{
        width:50px;
    }

    .socialLinks{
        top: 12px;
        margin-top: 30px;
        margin-left: 40px;
        padding: 10px 0px;
        position: relative;
        width: 320px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        
    }
    .social{
        
        margin: 0 5px;
        position: relative;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        
    }
    .social img{
        width:60px;
    }
    .social h4{
        font-weight: 300;
        font-size: 9px;
        text-align: center;
    }
    .scrolling-wrapper {
        flex-wrap: nowrap;
        overflow-x: auto;}
      
        .card {
          display: inline-block;
          flex: 0 0 auto;
        }
      .gif{
        position: relative;
        bottom: 40px;
        width: 300px;
        left: 20%;
      }
      h6{
        color: rgb(255, 255, 255);
        font-weight: 100;
        text-align: center;
        margin-top: 12px;
      }
}
